@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

:root {
  --primary: #ff8c00;
  --secondary: #ffb732;
  --hover: #fffc7f;
  --green: #7fff94;
  --footer: rgba(0, 0, 0, 55%);
}

body {
  font-family: Arial, Verdana, sans-serif;
  margin: auto;
  width: 95%;
  background-color: #fff5ee;
}

div#tables {
  padding-top: 1.5rem;
  display: block;
}

div#tables>div>table {
  margin-left: auto;
  margin-right: auto;
}

table,
td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  user-select: none;
}

td:not(.black) {
  cursor: pointer;
}

td:not(.black):hover {
  background-color: var(--hover);
}

td {
  height: 2rem;
  width: 2rem;
  font-size: 1em;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
  color: white;
}

.light {
  background-color: #fcf9d9;
}

.wrong {
  background-color: lightcoral;
}

#display-extreme {
  padding-bottom: 1em;
}

#display-game-field,
#display-easy,
#display-advanced,
#display-extreme {
  display: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  column-gap: 0.5em;
}

.action-button-container {
  display: flex;
  justify-content: center;
  column-gap: 0.5em;
}

button {
  background-color: var(--primary);
  font-size: 0.9em;
  padding: 0.7em 1em;
  border-radius: 9px;
  cursor: pointer;
  border: none;
}

.button-container>button {
  border-radius: 0px;
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
  color: black;
}

.button-container>button:first-child {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: none;
}

.button-container>button:last-child {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top: none;
}

button:hover {
  background-color: var(--hover) ;
  transition: 0.6s;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

button#save:active {
  background-color: var(--green);
  transition-duration: 0s;
}

div#btn-delete {
  padding-top: 0.6em;
}

button#delete-results {
  display: none;
  background-size: 300% 100%;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-image: -moz-linear-gradient(
    90deg,
    rgba(232, 48, 56, 1) 0%,
    rgba(248, 106, 112, 1) 62%,
    rgba(232, 87, 92, 1) 72%,
    rgba(237, 42, 51, 1) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(232, 48, 56, 1) 0%,
    rgba(248, 106, 112, 1) 62%,
    rgba(232, 87, 92, 1) 72%,
    rgba(237, 42, 51, 1) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgba(232, 48, 56, 1) 0%,
    rgba(248, 106, 112, 1) 62%,
    rgba(232, 87, 92, 1) 72%,
    rgba(237, 42, 51, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e83038",endColorstr="#ed2a33",GradientType=1);
}

button#delete-results:hover {
  background-position: 100% 0;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  transform: scale(1.07);
}

input[type="text"] {
  padding: 0.3em;
  border: 0.2em solid var(--primary);
  border-radius: 5px;
  font-size: 0.9em;
}

input[type="text"]:hover {
  border: 0.2em solid var(--hover);
}

h1,
h2 {
  font-family: "Rubik", sans-serif;
}

.background {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

h1 .background {
  background-color: var(--primary);
  border-radius: 10px;
}

h2 .background {
  background-color: var(--secondary);
  border-radius: 10px;
}

#win {
  display: none;
  font-size: 1.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: var(--green);
  border-radius: 15px;
  border-style: solid;
  border-color: #3c7846;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: var(--footer);
  display: inline;
}

hr {
  border-color: var(--footer);
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  list-style: none;
  padding: 0.3em 1.7em;
  background-image: url("../img/bulb.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

li:hover {
  background-image: url("../img/bulbHover.png");
}

#previous-game {
  font-weight: bold;
  padding-right: 0.4em;
}

@media screen and (min-width: 460px) {
  td {
    height: 2rem;
    width: 2rem;
    font-size: 1em;
  }
}

@media screen and (min-width: 560px) {
  td {
    height: 3rem;
    width: 3rem;
    font-size: 1,2em;
  }
}

@media screen and (min-width: 660px) {
  td {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.5em;
  }

  body {
    width: 90%;
    font-size: 1.1rem;
  }

  .button-container {
    flex-direction: row;
  }

  .button-container>button {
    font-size: 0.9em;
    padding: 0.7em 1em;
    border-radius: 9px;
    border: none;
    cursor: pointer;
  }

  div#tables {
    margin: initial;
    width: initial;
  }
}

@media screen and (min-width: 870px) {
  .action-button-container {
    justify-content: left;
  }

  div#left {
    float: left;
    padding-right: 5rem;
  }

  div#tables {
    float: inline-start;
  }
}